html {
  background-color: beige;
}

body {
  width: 20em;
  margin: 0;
  position: absolute;
  left: 40%;
}

.stylelogos {
  width: 20px;
  height: 20px;
}

#todoaddlist {
  width: 100%;
  border: none;
}

#listtext {
  border: none;
  width: 100%;
  height: 100%;
}

p {
  margin: 0%;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #888;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 0;
}

.itemtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stylelistitems {
  display: flex;
}

#enter {
  background: none;
  border: none;
}

.constructor {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
  background: white;
  box-shadow: 5px 10px 8px #888;

  .tyletittle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #888;
  }

  #listtask {
    border: none;
  }
}
