@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

$primary-color: #000;
$secondary-color: #fff;


html{
  font-family: 'Tilt Neon', sans-serif;
  background: linear-gradient(to left top, rgba(2,0,36,1) 0%, rgb(57, 57, 149) 35%, rgba(0,212,255,1) 100%);
}


  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;


    .TodoContainer{
      align-items: center;
      border: 2px solid #000;
      border-radius: 0.2rem;
      background: $secondary-color;

    .title{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      border-bottom: 2px solid #000;
      width: 100%;

      h1{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0.5rem 0;
      }
    }

    #clearall{
      font-size: 0.8rem;
      font-weight: 400;
      color: $secondary-color;
      width: 100%;
      background: $primary-color;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover{
        background: $secondary-color;
        color: $primary-color;
      }
    }
    #submit{
      font-size: 0.8rem;
      font-weight: 400;
      color: $secondary-color;
      background: $primary-color;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      justify-content: space-around;
      transition: all 0.3s ease-in-out;
      height: 2.7em;

      &:hover{
        background: $secondary-color;
        color: $primary-color;
      }
    }

    form{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      width: 100%;
      border-bottom: 2px solid;

      #toDoText {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.2rem;
      }

    }
    }

  }





